openapi: 3.1.0
info:
  title: Buttondown Newsletters API
  version: 1.0.0
  description: The Buttondown API lets you manage newsletters, subscribers, emails, and more. See [the documentation](https://docs.buttondown.com/api-introduction)
    for guides and examples.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.buttondown.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Newsletters
paths:
  /newsletters:
    get:
      operationId: list_newsletters
      summary: List Newsletters
      parameters:
      - in: query
        name: page
        required: false
        description: The page number of the paginated response.
        schema:
          type: integer
          title: Page
          description: The page number of the paginated response.
          default: 1
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsletterPage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Requests permitted per minute.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix timestamp at which the window resets.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      description: List all newsletters
      tags:
      - Newsletters
      security:
      - ApiKeyAuth: []
    post:
      operationId: create_newsletter
      summary: Create Newsletter
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Newsletter'
          links:
            retrieve_newsletter:
              operationId: retrieve_newsletter
              parameters:
                path.id: $response.body#/id
            update_newsletter:
              operationId: update_newsletter
              parameters:
                path.id: $response.body#/id
            delete_newsletter:
              operationId: delete_newsletter
              parameters:
                path.id: $response.body#/id
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage_CreateNewsletterErrorCode_'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Requests permitted per minute.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix timestamp at which the window resets.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      description: Create a new newsletter
      tags:
      - Newsletters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsletterInput'
        required: true
      security:
      - ApiKeyAuth: []
  /newsletters/{id}:
    get:
      operationId: retrieve_newsletter
      summary: Retrieve Newsletter
      parameters:
      - in: path
        name: id
        schema:
          title: Id
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Newsletter'
          links:
            update_newsletter:
              operationId: update_newsletter
              parameters:
                path.id: $response.body#/id
            delete_newsletter:
              operationId: delete_newsletter
              parameters:
                path.id: $response.body#/id
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Requests permitted per minute.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix timestamp at which the window resets.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      description: Retrieve a specific newsletter by its ID
      tags:
      - Newsletters
      security:
      - ApiKeyAuth: []
    patch:
      operationId: update_newsletter
      summary: Update Newsletter
      parameters:
      - in: path
        name: id
        schema:
          title: Id
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Newsletter'
          links:
            retrieve_newsletter:
              operationId: retrieve_newsletter
              parameters:
                path.id: $response.body#/id
            delete_newsletter:
              operationId: delete_newsletter
              parameters:
                path.id: $response.body#/id
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorMessage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Requests permitted per minute.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix timestamp at which the window resets.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      description: Update a newsletter's settings
      tags:
      - Newsletters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsletterUpdateInput'
        required: true
      security:
      - ApiKeyAuth: []
    delete:
      operationId: delete_newsletter
      summary: Delete Newsletter
      parameters:
      - in: path
        name: id
        schema:
          title: Id
          type: string
        required: true
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Requests permitted per minute.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix timestamp at which the window resets.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      description: Delete a newsletter
      tags:
      - Newsletters
      security:
      - ApiKeyAuth: []
  /newsletters/{id}/sending-domain:
    get:
      operationId: retrieve_sending_domain
      summary: Retrieve Sending Domain
      parameters:
      - in: path
        name: id
        schema:
          title: Id
          type: string
        required: true
      - in: query
        name: force
        schema:
          default: false
          description: When true, trigger a fresh DNS re-verification instead of serving the last-known record.
          title: Force
          type: boolean
        required: false
        description: When true, trigger a fresh DNS re-verification instead of serving the last-known record.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendingDomainRecord'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Requests permitted per minute.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix timestamp at which the window resets.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      description: Retrieve the DNS verification status and required records for a newsletter's custom sending domain. While
        `is_checking` is true, a background re-verification is in flight; poll until it flips to false. Pass `force=true`
        to trigger a re-check.
      tags:
      - Newsletters
      security:
      - ApiKeyAuth: []
  /newsletters/{id}/hosting-domain:
    get:
      operationId: retrieve_hosting_domain
      summary: Retrieve Hosting Domain
      parameters:
      - in: path
        name: id
        schema:
          title: Id
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingDomainRecord'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '409':
          description: Conflict
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Requests permitted per minute.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix timestamp at which the window resets.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      description: Retrieve the DNS verification status for a newsletter's custom hosting domain. This synchronously re-verifies
        the domain's DNS records.
      tags:
      - Newsletters
      security:
      - ApiKeyAuth: []
components:
  schemas:
    ApexAliasProvider:
      properties:
        id:
          description: Stable identifier for the DNS provider (e.g. `cloudflare`).
          title: Id
          type: string
        name:
          description: Human-readable name of the DNS provider.
          title: Name
          type: string
        apex_alias_support:
          description: How the provider supports pointing an apex/root domain at a CNAME target (e.g. CNAME flattening or
            ALIAS records).
          title: Apex Alias Support
          type: string
        wording_kind:
          description: Which copy variant to show for this provider's setup instructions.
          title: Wording Kind
          type: string
        nameserver_regexes:
          description: Patterns matched against a domain's nameservers to detect this provider.
          items:
            type: string
          title: Nameserver Regexes
          type: array
        support_doc_url:
          anyOf:
          - type: string
          - type: 'null'
          description: Link to the provider's own DNS documentation, when available.
          title: Support Doc Url
        side_notes:
          description: Provider-specific caveats to surface alongside the setup guidance.
          title: Side Notes
          type: string
        buttondown_guide_url:
          anyOf:
          - type: string
          - type: 'null'
          description: A first-party Buttondown setup guide for this provider, when one exists.
          title: Buttondown Guide Url
        supports_nameserver_delegation:
          default: true
          description: Whether the provider lets customers delegate a child zone with NS records.
          title: Supports Nameserver Delegation
          type: boolean
      required:
      - id
      - name
      - apex_alias_support
      - wording_kind
      - nameserver_regexes
      - support_doc_url
      - side_notes
      title: ApexAliasProvider
      type: object
    CreateNewsletterErrorCode:
      description: 'Represents the type of error that occurred when creating a newsletter.


        Human-readable error messages are provided in the `detail` field of the response;

        these values are meant to be parseable by code or client logic.'
      enum:
      - domain_incorrect
      - domain_path
      - domain_protocol
      - email_domain_conflicts_with_hosting_domain
      - email_domain_contains_at
      - email_domain_incorrect
      - email_domain_path
      - email_domain_protocol
      - email_domain_used_by_other_account
      - invalid_metadata
      - username_already_exists
      - username_malformed
      - username_reserved
      - username_too_short
      title: CreateNewsletterErrorCode
      type: string
    ErrorMessage:
      properties:
        code:
          description: The error code.
          title: Code
          type: string
        detail:
          description: A human-readable description of the error.
          title: Detail
          type: string
        metadata:
          additionalProperties:
            type: string
          default: {}
          description: Additional context about the error. When present, a `documentation_url` key links to docs explaining
            how to resolve it.
          title: Metadata
          type: object
      required:
      - detail
      title: ErrorMessage
      type: object
    ErrorMessage_CreateNewsletterErrorCode_:
      properties:
        code:
          allOf:
          - $ref: '#/components/schemas/CreateNewsletterErrorCode'
          description: The error code.
        detail:
          description: A human-readable description of the error.
          title: Detail
          type: string
        metadata:
          additionalProperties:
            type: string
          default: {}
          description: Additional context about the error. When present, a `documentation_url` key links to docs explaining
            how to resolve it.
          title: Metadata
          type: object
      required:
      - detail
      title: ErrorMessage[CreateNewsletterErrorCode]
      type: object
    HostingDomainRecord:
      properties:
        domain:
          description: The custom hosting domain being verified.
          title: Domain
          type: string
        record_type:
          description: The DNS record type the domain should use (typically `CNAME`).
          title: Record Type
          type: string
        data:
          description: The record values currently observed at the domain, if any.
          items:
            type: string
          title: Data
          type: array
        nameservers:
          description: The domain's nameservers, used to detect its DNS provider.
          items:
            type: string
          title: Nameservers
          type: array
        apex_alias_provider:
          anyOf:
          - $ref: '#/components/schemas/ApexAliasProvider'
          - type: 'null'
        status:
          $ref: '#/components/schemas/HostingDomainStatus'
      required:
      - domain
      - record_type
      - data
      - status
      title: HostingDomainRecord
      type: object
    HostingDomainStatus:
      description: The DNS verification status of a newsletter's custom hosting domain.
      enum:
      - none
      - invalid
      - valid
      title: HostingDomainStatus
      type: string
    Newsletter:
      description: 'You will likely not need to interact with your newsletter settings

        programmatically, but if you do, this is the endpoint for you. You can

        create, update, and list newsletters via the API; this is ideal for

        integrating with Buttondown as a headless email or newsletter provider

        (e.g. for a SaaS product.)'
      properties:
        id:
          description: A unique TypeID associated with the object.
          title: Id
          type: string
        creation_date:
          description: The date and time at which the object was first created.
          format: date-time
          title: Creation Date
          type: string
        announcement_bar_background_color:
          default: ''
          description: The background color for the announcement bar on your archive page. Must be a valid hex color code.
          title: Announcement Bar Background Color
          type: string
        announcement_bar_text:
          default: ''
          description: Text displayed in the announcement bar on your archive page. Useful for promotions, updates, or calls
            to action.
          title: Announcement Bar Text
          type: string
        announcement_bar_visibility:
          allOf:
          - $ref: '#/components/schemas/NewsletterAnnouncementBarVisibility'
          default: disabled
          description: Controls who sees the announcement bar on your archive page.
          enum:
          - disabled
          - everyone
          - free_only
          - logged_out_only
          - paid_only
        api_key:
          description: The API key for this newsletter, used for authenticating API requests.
          format: uuid
          title: Api Key
          type: string
        archive_theme:
          allOf:
          - $ref: '#/components/schemas/NewsletterArchiveTheme'
          default: modern
          description: The visual theme for your newsletter's archive page. See [archive themes](https://docs.buttondown.com/customizing-web-design)
            for previews.
          enum:
          - classic
          - modern
          - arbus
          - lovelace
          - myrna
        auditing_mode:
          anyOf:
          - $ref: '#/components/schemas/NewsletterAuditingMode'
          - type: 'null'
          description: The auditing mode for your newsletter, which controls spam and abuse protection. See [the Firewall](https://docs.buttondown.com/firewall)
            for more information.
          enum:
          - disabled
          - enabled
          - aggressive
        css:
          default: ''
          description: Custom CSS styling applied to your newsletter emails. See [CSS customization](https://docs.buttondown.com/customizing-email-design#adding-custom-css)
            for more information.
          title: Css
          type: string
        custom_churn_email_body:
          default: ''
          description: Custom body content for the email sent when a paid subscriber cancels. Supports template tags like
            `{{ subscriber.email }}` and `{{ newsletter.name }}`.
          title: Custom Churn Email Body
          type: string
        custom_churn_email_subject:
          default: ''
          description: Custom subject line for the email sent when a paid subscriber cancels. Supports template tags like
            `{{ newsletter.name }}`.
          title: Custom Churn Email Subject
          type: string
        custom_churn_email_template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The email template to use for churn emails. If not set, uses the newsletter's default template.
        custom_email_template:
          anyOf:
          - type: string
          - type: 'null'
          description: The identifier for a custom email template. See [email templates](https://docs.buttondown.com/customizing-email-design#buttondowns-default-templates)
            for available options.
          title: Custom Email Template
        custom_expired_trial_notification_body:
          default: ''
          description: Custom body content for the email sent when a subscriber's free trial expires. Supports template tags.
          title: Custom Expired Trial Notification Body
          type: string
        custom_expired_trial_notification_subject:
          default: ''
          description: Custom subject line for the email sent when a subscriber's free trial expires. Supports template tags.
          title: Custom Expired Trial Notification Subject
          type: string
        custom_expired_trial_notification_template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The email template to use for expired trial notification emails. If not set, uses the newsletter's
            default template.
        custom_gift_subscription_email_body:
          default: ''
          description: Custom body content for the email sent when someone receives a gift subscription. Supports template
            tags.
          title: Custom Gift Subscription Email Body
          type: string
        custom_gift_subscription_email_subject:
          default: ''
          description: Custom subject line for the email sent when someone receives a gift subscription. Supports template
            tags.
          title: Custom Gift Subscription Email Subject
          type: string
        custom_gift_subscription_email_template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The email template to use for gift subscription emails. If not set, uses the newsletter's default template.
        custom_gift_unsubscription_email_body:
          default: ''
          description: Custom body content for the email sent when a gift subscription ends. Supports template tags.
          title: Custom Gift Unsubscription Email Body
          type: string
        custom_gift_unsubscription_email_subject:
          default: ''
          description: Custom subject line for the email sent when a gift subscription ends. Supports template tags.
          title: Custom Gift Unsubscription Email Subject
          type: string
        custom_gift_unsubscription_email_template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The email template to use for gift unsubscription emails. If not set, uses the newsletter's default
            template.
        custom_premium_confirmation_email_body:
          default: ''
          description: Custom body content for the email sent when a subscriber upgrades to a paid plan. Supports template
            tags.
          title: Custom Premium Confirmation Email Body
          type: string
        custom_premium_confirmation_email_subject:
          default: ''
          description: Custom subject line for the email sent when a subscriber upgrades to a paid plan. Supports template
            tags.
          title: Custom Premium Confirmation Email Subject
          type: string
        custom_premium_confirmation_email_template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The email template to use for premium confirmation emails. If not set, uses the newsletter's default
            template.
        custom_subscription_confirmation_email_subject:
          default: ''
          description: Custom subject line for the double opt-in confirmation email sent to new subscribers. Supports template
            tags.
          title: Custom Subscription Confirmation Email Subject
          type: string
        custom_subscription_confirmation_email_template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The email template to use for subscription confirmation emails. If not set, uses the newsletter's default
            template.
        custom_subscription_confirmation_email_text:
          default: ''
          description: Custom body content for the double opt-in confirmation email. Must contain `{{ confirmation_url }}`
            as an HTML or Markdown link.
          title: Custom Subscription Confirmation Email Text
          type: string
        custom_subscription_confirmation_reminder_email_subject:
          default: ''
          description: Custom subject line for the reminder email sent to subscribers who haven't confirmed. Supports template
            tags.
          title: Custom Subscription Confirmation Reminder Email Subject
          type: string
        custom_subscription_confirmation_reminder_email_text:
          default: ''
          description: Custom body content for the reminder email sent to subscribers who haven't confirmed. Supports template
            tags.
          title: Custom Subscription Confirmation Reminder Email Text
          type: string
        custom_subscription_confirmed_email_subject:
          default: ''
          description: Custom subject line for the email sent after a subscriber confirms their subscription. Supports template
            tags.
          title: Custom Subscription Confirmed Email Subject
          type: string
        custom_subscription_confirmed_email_text:
          default: ''
          description: Custom body content for the email sent after a subscriber confirms their subscription. Supports template
            tags.
          title: Custom Subscription Confirmed Email Text
          type: string
        description:
          description: A brief description of your newsletter, displayed on your public archive page and used for SEO.
          title: Description
          type: string
        domain:
          default: ''
          description: The custom domain where your newsletter archives are hosted (e.g., 'newsletter.example.com'). See [custom
            domains](https://docs.buttondown.com/hosting-on-a-custom-domain) for setup instructions.
          title: Domain
          type: string
        email_address:
          default: ''
          description: The 'From' email address used when sending your newsletter. Must be verified before use.
          title: Email Address
          type: string
        email_domain:
          default: ''
          description: The custom domain from which your newsletter emails are sent (e.g., 'mail.example.com'). See [sending
            domains](https://docs.buttondown.com/sending-from-a-custom-domain) for setup instructions.
          title: Email Domain
          type: string
        email_theme_configuration:
          additionalProperties:
            type: string
          default: {}
          description: A dictionary of CSS token overrides for the email theme.
          title: Email Theme Configuration
          type: object
        enabled_features:
          default: []
          description: A list of features enabled for your newsletter. Common values include 'archives', 'portal', 'surveys',
            'comments', 'paid_subscriptions', 'automations', 'webhooks', 'tracking', and 'referrals'.
          items:
            type: string
          title: Enabled Features
          type: array
        footer:
          default: ''
          description: HTML content displayed at the bottom of your newsletter emails. Supports [template tags](https://docs.buttondown.com/template-tags).
          title: Footer
          type: string
        from_name:
          default: ''
          description: The display name shown in the 'From' field of your emails (e.g., 'Jane from Acme Newsletter').
          title: From Name
          type: string
        header:
          default: ''
          description: HTML content displayed at the top of your newsletter emails. Supports [template tags](https://docs.buttondown.com/template-tags).
          title: Header
          type: string
        hosting_domain_status:
          allOf:
          - $ref: '#/components/schemas/HostingDomainStatus'
          default: none
          description: The DNS verification status of your custom hosting domain. Read-only; see `/newsletters/{id}/hosting-domain`
            for the underlying records.
        icon:
          anyOf:
          - type: string
          - type: 'null'
          description: URL to your newsletter's icon image, used as a favicon and in various UI contexts.
          title: Icon
        icon_alt_text:
          default: ''
          description: Alt text for the newsletter icon, used by screen readers and shown when the image cannot load.
          title: Icon Alt Text
          type: string
        image:
          anyOf:
          - type: string
          - type: 'null'
          description: URL to your newsletter's header or branding image, displayed on archive pages and in social previews.
          title: Image
        locale:
          allOf:
          - $ref: '#/components/schemas/NewsletterLocale'
          default: en
          description: The language/locale for your newsletter's UI elements (confirmation emails, unsubscribe pages, etc.).
            See [localization](https://docs.buttondown.com/localization) for supported locales.
        metadata:
          additionalProperties: true
          default: {}
          description: A structured key-value blob that you can use to store arbitrary data on the object. Metadata can be
            nested — you can store objects and arrays within your metadata. (You can [read more about metadata.](https://docs.buttondown.com/metadata))
          title: Metadata
          type: object
        name:
          description: The display name of your newsletter, shown to subscribers and on your archive page.
          title: Name
          type: string
        reply_to_address:
          default: ''
          description: An alternative email address that receives replies to your newsletter emails, instead of the sending
            address.
          title: Reply To Address
          type: string
        sending_domain_status:
          allOf:
          - $ref: '#/components/schemas/SendingDomainStatus'
          default: none
          description: The DNS verification status of your custom sending domain. Read-only; see `/newsletters/{id}/sending-domain`
            for the underlying records.
        sharing_networks:
          default: []
          description: A list of social networks to show share buttons for on your archive pages.
          items:
            type: string
          title: Sharing Networks
          type: array
        socials:
          default: []
          description: A list of social media accounts linked to your newsletter, displayed on your archive page. Each entry
            has a `type`, `url`, and optional `label`.
          items:
            $ref: '#/components/schemas/SocialAccountSchema'
          title: Socials
          type: array
        sort:
          default: creation_date
          description: 'The default sorting method for listing subscribers or messages. Example values: ''creation_date'',
            ''-creation_date'', ''email_address''.'
          title: Sort
          type: string
        subscription_confirmation_redirect_url:
          default: ''
          description: A URL to redirect subscribers to after they confirm their subscription via double opt-in.
          title: Subscription Confirmation Redirect Url
          type: string
        subscription_redirect_url:
          default: ''
          description: A URL to redirect subscribers to immediately after they submit the subscription form (before confirmation).
          title: Subscription Redirect Url
          type: string
        template:
          allOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          default: modern
          description: The default email template for your newsletter. See [email templates](https://docs.buttondown.com/customizing-email-design#buttondowns-default-templates)
            for available options.
        test_mode:
          default: false
          description: Whether test mode is enabled. When enabled, emails are not actually sent to subscribers, useful for
            testing automations and workflows.
          title: Test Mode
          type: boolean
        theme_configuration:
          additionalProperties:
            type: string
          default: {}
          description: Custom theme configuration (variables) for your newsletter. These can be referenced in your CSS and
            templates to maintain consistent styling.
          title: Theme Configuration
          type: object
        timezone:
          default: Etc/UTC
          description: The timezone used for scheduling and displaying dates in your newsletter (e.g., 'America/New_York',
            'Europe/London').
          title: Timezone
          type: string
        tint_color:
          default: '#0069FF'
          description: The accent color for your newsletter's emails, applied to links and buttons. Your archive's accent
            color is set separately, by its theme. Must be a valid hex color code.
          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
          title: Tint Color
          type: string
        username:
          description: The unique URL-safe identifier for your newsletter, used in your archive URL (e.g., 'buttondown.com/username').
          title: Username
          type: string
        web_css:
          default: ''
          description: Custom CSS styling applied to your newsletter's web presence (archive pages, subscription forms, etc.).
          title: Web Css
          type: string
      required:
      - id
      - creation_date
      - api_key
      - description
      - name
      - username
      title: Newsletter
      type: object
    NewsletterAnnouncementBarVisibility:
      enum:
      - disabled
      - everyone
      - free_only
      - logged_out_only
      - paid_only
      title: AnnouncementBarVisibility
      type: string
      description: An enumeration.
    NewsletterArchiveTheme:
      enum:
      - classic
      - modern
      - arbus
      - lovelace
      - myrna
      title: ArchiveTheme
      type: string
      description: An enumeration.
    NewsletterAuditingMode:
      enum:
      - disabled
      - enabled
      - aggressive
      title: AuditingMode
      type: string
      description: An enumeration.
    NewsletterEmailTemplate:
      description: 'Represents the template of an email.


        Each template has a different layout/style; you can view screenshots and examples [in the docs](https://docs.buttondown.com/customizing-email-design#buttondowns-default-templates).'
      enum:
      - classic
      - custom
      - modern
      - plaintext
      - naked
      title: EmailTemplate
      type: string
    NewsletterInput:
      additionalProperties: false
      properties:
        announcement_bar_background_color:
          anyOf:
          - const: ''
            type: string
          - maxLength: 7
            pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
            type: string
          default: ''
          description: The background color for the announcement bar on your archive page. Must be a valid hex color code.
          example: '#FF6600'
          title: Announcement Bar Background Color
        announcement_bar_text:
          default: ''
          description: Text displayed in the announcement bar on your archive page. Useful for promotions, updates, or calls
            to action.
          example: Subscribe to get 20% off your first order!
          title: Announcement Bar Text
          type: string
        announcement_bar_visibility:
          allOf:
          - $ref: '#/components/schemas/NewsletterAnnouncementBarVisibility'
          default: disabled
          description: Controls who sees the announcement bar on your archive page.
          enum:
          - disabled
          - everyone
          - free_only
          - logged_out_only
          - paid_only
          example: everyone
        archive_theme:
          allOf:
          - $ref: '#/components/schemas/NewsletterArchiveTheme'
          default: modern
          description: The visual theme for your newsletter's archive page. See [archive themes](https://docs.buttondown.com/customizing-web-design)
            for previews.
          example: modern
        auditing_mode:
          anyOf:
          - $ref: '#/components/schemas/NewsletterAuditingMode'
          - type: 'null'
          description: The auditing mode for your newsletter, which controls spam and abuse protection. See [the Firewall](https://docs.buttondown.com/firewall)
            for more information.
          example: enabled
        css:
          default: ''
          description: Custom CSS styling applied to your newsletter emails. See [CSS customization](https://docs.buttondown.com/customizing-email-design#adding-custom-css)
            for more information.
          example: '.header { color: #000; }'
          title: Css
          type: string
        custom_email_template:
          anyOf:
          - type: string
          - type: 'null'
          description: The identifier for a custom email template. See [email templates](https://docs.buttondown.com/customizing-email-design#buttondowns-default-templates)
            for available options.
          example: modern
          title: Custom Email Template
        description:
          description: A brief description of your newsletter, displayed on your public archive page and used for SEO.
          example: Stay up to date with the latest trends in wigs and hairpieces
          title: Description
          type: string
        domain:
          default: ''
          description: The custom domain where your newsletter archives are hosted (e.g., 'newsletter.example.com'). See [custom
            domains](https://docs.buttondown.com/hosting-on-a-custom-domain) for setup instructions.
          example: sheinhardt.com
          maxLength: 500
          title: Domain
          type: string
        email_address:
          anyOf:
          - pattern: ^[a-zA-Z0-9.'_%+\-!]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$
            type: string
            format: email
          - type: 'null'
          description: The 'From' email address used when sending your newsletter. Must be verified before use.
          example: newsletter@sheinhardt.com
          title: Email Address
        email_domain:
          default: ''
          description: The custom domain from which your newsletter emails are sent (e.g., 'mail.example.com'). See [sending
            domains](https://docs.buttondown.com/sending-from-a-custom-domain) for setup instructions.
          example: mail.sheinhardt.com
          maxLength: 500
          title: Email Domain
          type: string
        email_theme_configuration:
          additionalProperties:
            type: string
          default: {}
          description: A dictionary of CSS token overrides for the email theme.
          example:
            primary-color: '#0069FF'
          title: Email Theme Configuration
          type: object
        enabled_features:
          default: []
          description: A list of features enabled for your newsletter. Common values include 'archives', 'portal', 'surveys',
            'comments', 'paid_subscriptions', 'automations', 'webhooks', 'tracking', and 'referrals'.
          example:
          - archives
          - portal
          - surveys
          items:
            type: string
          title: Enabled Features
          type: array
        footer:
          default: ''
          description: HTML content displayed at the bottom of your newsletter emails. Supports [template tags](https://docs.buttondown.com/template-tags).
          example: <p>Thanks for reading!</p>
          title: Footer
          type: string
        from_name:
          default: ''
          description: The display name shown in the 'From' field of your emails (e.g., 'Jane from Acme Newsletter').
          example: Sheinhardt Wig Company
          title: From Name
          type: string
        header:
          default: ''
          description: HTML content displayed at the top of your newsletter emails. Supports [template tags](https://docs.buttondown.com/template-tags).
          example: <p>Welcome to our newsletter!</p>
          title: Header
          type: string
        icon:
          default: ''
          description: URL to your newsletter's icon image, used as a favicon and in various UI contexts.
          example: https://example.com/icon.png
          maxLength: 500
          title: Icon
          type: string
        icon_alt_text:
          default: ''
          description: Alt text for the newsletter icon, used by screen readers and shown when the image cannot load.
          maxLength: 500
          title: Icon Alt Text
          type: string
        image:
          default: ''
          description: URL to your newsletter's header or branding image, displayed on archive pages and in social previews.
          example: https://example.com/header.jpg
          maxLength: 500
          title: Image
          type: string
        locale:
          allOf:
          - $ref: '#/components/schemas/NewsletterLocale'
          default: en
          description: The language/locale for your newsletter's UI elements (confirmation emails, unsubscribe pages, etc.).
            See [localization](https://docs.buttondown.com/localization) for supported locales.
          example: en
        metadata:
          additionalProperties: true
          default: {}
          description: A structured key-value blob that you can use to store arbitrary data on the object. Metadata can be
            nested — you can store objects and arrays within your metadata. (You can [read more about metadata.](https://docs.buttondown.com/metadata))
          example:
            source: my-app
            tier: pro
          title: Metadata
          type: object
        name:
          description: The display name of your newsletter, shown to subscribers and on your archive page.
          example: Sheinhardt Wig Company
          title: Name
          type: string
        reply_to_address:
          anyOf:
          - pattern: ^[a-zA-Z0-9.'_%+\-!]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$
            type: string
            format: email
          - type: 'null'
          description: An alternative email address that receives replies to your newsletter emails, instead of the sending
            address.
          example: newsletter@sheinhardt.com
          title: Reply To Address
        socials:
          default: []
          description: A list of social media accounts linked to your newsletter, displayed on your archive page. Each entry
            has a `type`, `url`, and optional `label`.
          example:
          - label: null
            type: twitter
            url: https://x.com/sheinhardt
          items:
            $ref: '#/components/schemas/SocialAccountSchema'
          title: Socials
          type: array
        subscription_confirmation_redirect_url:
          default: ''
          description: A URL to redirect subscribers to after they confirm their subscription via double opt-in.
          example: https://example.com/confirmed
          title: Subscription Confirmation Redirect Url
          type: string
        subscription_redirect_url:
          default: ''
          description: A URL to redirect subscribers to immediately after they submit the subscription form (before confirmation).
          example: https://example.com/thanks
          title: Subscription Redirect Url
          type: string
        template:
          allOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          default: modern
          description: The default email template for your newsletter. See [email templates](https://docs.buttondown.com/customizing-email-design#buttondowns-default-templates)
            for available options.
          example: modern
        test_mode:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether test mode is enabled. When enabled, emails are not actually sent to subscribers, useful for
            testing automations and workflows.
          title: Test Mode
        theme_configuration:
          additionalProperties:
            type: string
          default: {}
          description: Custom theme configuration (variables) for your newsletter. These can be referenced in your CSS and
            templates to maintain consistent styling.
          example:
            primary-color: '#0069FF'
          title: Theme Configuration
          type: object
        timezone:
          default: Etc/UTC
          description: The timezone used for scheduling and displaying dates in your newsletter (e.g., 'America/New_York',
            'Europe/London').
          example: America/New_York
          title: Timezone
          type: string
        tint_color:
          default: '#0069FF'
          description: The accent color for your newsletter's emails, applied to links and buttons. Your archive's accent
            color is set separately, by its theme. Must be a valid hex color code.
          example: '#0069FF'
          maxLength: 7
          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
          title: Tint Color
          type: string
        username:
          description: The unique URL-safe identifier for your newsletter, used in your archive URL (e.g., 'buttondown.com/username').
          example: sheinhardt
          title: Username
          type: string
        web_css:
          default: ''
          description: Custom CSS styling applied to your newsletter's web presence (archive pages, subscription forms, etc.).
          example: '.container { max-width: 800px; }'
          title: Web Css
          type: string
      required:
      - description
      - name
      - username
      title: NewsletterInput
      type: object
    NewsletterLocale:
      enum:
      - cs-CZ
      - nl-NL
      - en-AU
      - en-CA
      - en-GB
      - en
      - et
      - fi-FI
      - fr
      - de
      - it
      - ja-JP
      - ne
      - nb-NO
      - pl-PL
      - pt-BR
      - pt-PT
      - ru
      - es
      - tr
      - sv-SE
      title: Locale
      type: string
      description: An enumeration.
    NewsletterPage:
      properties:
        results:
          description: The list of results for this page.
          items:
            $ref: '#/components/schemas/Newsletter'
          title: Results
          type: array
        next:
          anyOf:
          - type: string
          - type: 'null'
          description: The URL to the next page of results, if any.
          title: Next
        previous:
          anyOf:
          - type: string
          - type: 'null'
          description: The URL to the previous page of results, if any.
          title: Previous
        count:
          description: The total number of results across all pages.
          title: Count
          type: integer
      required:
      - results
      - count
      title: Page[Newsletter]
      type: object
    NewsletterUpdateInput:
      additionalProperties: false
      properties:
        announcement_bar_background_color:
          anyOf:
          - const: ''
            type: string
          - maxLength: 7
            pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
            type: string
          - type: 'null'
          description: The background color for the announcement bar on your archive page. Must be a valid hex color code.
          example: '#FF6600'
          title: Announcement Bar Background Color
        announcement_bar_text:
          anyOf:
          - type: string
          - type: 'null'
          description: Text displayed in the announcement bar on your archive page. Useful for promotions, updates, or calls
            to action.
          example: Subscribe to get 20% off your first order!
          title: Announcement Bar Text
        announcement_bar_visibility:
          anyOf:
          - $ref: '#/components/schemas/NewsletterAnnouncementBarVisibility'
          - type: 'null'
          description: Controls who sees the announcement bar on your archive page.
          enum:
          - disabled
          - everyone
          - free_only
          - logged_out_only
          - paid_only
          example: everyone
        archive_theme:
          anyOf:
          - $ref: '#/components/schemas/NewsletterArchiveTheme'
          - type: 'null'
          description: The visual theme for your newsletter's archive page. See [archive themes](https://docs.buttondown.com/customizing-web-design)
            for previews.
          example: modern
        auditing_mode:
          anyOf:
          - $ref: '#/components/schemas/NewsletterAuditingMode'
          - type: 'null'
          description: The auditing mode for your newsletter, which controls spam and abuse protection. See [the Firewall](https://docs.buttondown.com/firewall)
            for more information.
          example: enabled
        css:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom CSS styling applied to your newsletter emails. See [CSS customization](https://docs.buttondown.com/customizing-email-design#adding-custom-css)
            for more information.
          example: '.header { color: #000; }'
          title: Css
        custom_churn_email_body:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom body content for the email sent when a paid subscriber cancels. Supports template tags like
            `{{ subscriber.email }}` and `{{ newsletter.name }}`.
          example: 'Hi {{ subscriber.email }},


            We''re sorry to see you go!'
          title: Custom Churn Email Body
        custom_churn_email_subject:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom subject line for the email sent when a paid subscriber cancels. Supports template tags like
            `{{ newsletter.name }}`.
          example: You've canceled your premium subscription to {{ newsletter.name }}
          title: Custom Churn Email Subject
        custom_churn_email_template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The email template to use for churn emails. If not set, uses the newsletter's default template.
          example: modern
        custom_email_template:
          anyOf:
          - type: string
          - type: 'null'
          description: The identifier for a custom email template. See [email templates](https://docs.buttondown.com/customizing-email-design#buttondowns-default-templates)
            for available options.
          example: modern
          title: Custom Email Template
        custom_expired_trial_notification_body:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom body content for the email sent when a subscriber's free trial expires. Supports template tags.
          title: Custom Expired Trial Notification Body
        custom_expired_trial_notification_subject:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom subject line for the email sent when a subscriber's free trial expires. Supports template tags.
          title: Custom Expired Trial Notification Subject
        custom_expired_trial_notification_template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The email template to use for expired trial notification emails. If not set, uses the newsletter's
            default template.
          example: modern
        custom_gift_subscription_email_body:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom body content for the email sent when someone receives a gift subscription. Supports template
            tags.
          title: Custom Gift Subscription Email Body
        custom_gift_subscription_email_subject:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom subject line for the email sent when someone receives a gift subscription. Supports template
            tags.
          title: Custom Gift Subscription Email Subject
        custom_gift_subscription_email_template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The email template to use for gift subscription emails. If not set, uses the newsletter's default template.
          example: modern
        custom_gift_unsubscription_email_body:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom body content for the email sent when a gift subscription ends. Supports template tags.
          title: Custom Gift Unsubscription Email Body
        custom_gift_unsubscription_email_subject:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom subject line for the email sent when a gift subscription ends. Supports template tags.
          title: Custom Gift Unsubscription Email Subject
        custom_gift_unsubscription_email_template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The email template to use for gift unsubscription emails. If not set, uses the newsletter's default
            template.
          example: modern
        custom_premium_confirmation_email_body:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom body content for the email sent when a subscriber upgrades to a paid plan. Supports template
            tags.
          title: Custom Premium Confirmation Email Body
        custom_premium_confirmation_email_subject:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom subject line for the email sent when a subscriber upgrades to a paid plan. Supports template
            tags.
          title: Custom Premium Confirmation Email Subject
        custom_premium_confirmation_email_template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The email template to use for premium confirmation emails. If not set, uses the newsletter's default
            template.
          example: modern
        custom_subscription_confirmation_email_subject:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom subject line for the double opt-in confirmation email sent to new subscribers. Supports template
            tags.
          title: Custom Subscription Confirmation Email Subject
        custom_subscription_confirmation_email_text:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom body content for the double opt-in confirmation email. Must contain `{{ confirmation_url }}`
            as an HTML or Markdown link.
          title: Custom Subscription Confirmation Email Text
        custom_subscription_confirmation_email_template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The email template to use for subscription confirmation emails. If not set, uses the newsletter's default
            template.
          example: modern
        custom_subscription_confirmation_reminder_email_subject:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom subject line for the reminder email sent to subscribers who haven't confirmed. Supports template
            tags.
          title: Custom Subscription Confirmation Reminder Email Subject
        custom_subscription_confirmation_reminder_email_text:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom body content for the reminder email sent to subscribers who haven't confirmed. Supports template
            tags.
          title: Custom Subscription Confirmation Reminder Email Text
        custom_subscription_confirmed_email_subject:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom subject line for the email sent after a subscriber confirms their subscription. Supports template
            tags.
          title: Custom Subscription Confirmed Email Subject
        custom_subscription_confirmed_email_text:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom body content for the email sent after a subscriber confirms their subscription. Supports template
            tags.
          title: Custom Subscription Confirmed Email Text
        description:
          anyOf:
          - type: string
          - type: 'null'
          description: A brief description of your newsletter, displayed on your public archive page and used for SEO.
          example: Stay up to date with the latest trends in wigs and hairpieces
          title: Description
        domain:
          anyOf:
          - maxLength: 500
            type: string
          - type: 'null'
          description: The custom domain where your newsletter archives are hosted (e.g., 'newsletter.example.com'). See [custom
            domains](https://docs.buttondown.com/hosting-on-a-custom-domain) for setup instructions.
          example: sheinhardt.com
          title: Domain
        email_address:
          anyOf:
          - pattern: ^[a-zA-Z0-9.'_%+\-!]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$
            type: string
            format: email
          - type: 'null'
          description: The 'From' email address used when sending your newsletter. Must be verified before use.
          example: newsletter@sheinhardt.com
          title: Email Address
        email_domain:
          anyOf:
          - maxLength: 500
            type: string
          - type: 'null'
          description: The custom domain from which your newsletter emails are sent (e.g., 'mail.example.com'). See [sending
            domains](https://docs.buttondown.com/sending-from-a-custom-domain) for setup instructions.
          example: mail.sheinhardt.com
          title: Email Domain
        email_theme_configuration:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          description: A dictionary of CSS token overrides for the email theme.
          example:
            primary-color: '#0069FF'
          title: Email Theme Configuration
        enabled_features:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          description: A list of features enabled for your newsletter. Common values include 'archives', 'portal', 'surveys',
            'comments', 'paid_subscriptions', 'automations', 'webhooks', 'tracking', and 'referrals'.
          example:
          - archives
          - portal
          - surveys
          title: Enabled Features
        footer:
          anyOf:
          - type: string
          - type: 'null'
          description: HTML content displayed at the bottom of your newsletter emails. Supports [template tags](https://docs.buttondown.com/template-tags).
          example: <p>Thanks for reading!</p>
          title: Footer
        from_name:
          anyOf:
          - type: string
          - type: 'null'
          description: The display name shown in the 'From' field of your emails (e.g., 'Jane from Acme Newsletter').
          example: Sheinhardt Wig Company
          title: From Name
        header:
          anyOf:
          - type: string
          - type: 'null'
          description: HTML content displayed at the top of your newsletter emails. Supports [template tags](https://docs.buttondown.com/template-tags).
          example: <p>Welcome to our newsletter!</p>
          title: Header
        icon:
          anyOf:
          - maxLength: 500
            type: string
          - type: 'null'
          description: URL to your newsletter's icon image, used as a favicon and in various UI contexts.
          example: https://example.com/icon.png
          title: Icon
        icon_alt_text:
          anyOf:
          - maxLength: 500
            type: string
          - type: 'null'
          description: Alt text for the newsletter icon, used by screen readers and shown when the image cannot load.
          title: Icon Alt Text
        image:
          anyOf:
          - maxLength: 500
            type: string
          - type: 'null'
          description: URL to your newsletter's header or branding image, displayed on archive pages and in social previews.
          example: https://example.com/header.jpg
          title: Image
        locale:
          anyOf:
          - $ref: '#/components/schemas/NewsletterLocale'
          - type: 'null'
          description: The language/locale for your newsletter's UI elements (confirmation emails, unsubscribe pages, etc.).
            See [localization](https://docs.buttondown.com/localization) for supported locales.
          example: en
        metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          description: A structured key-value blob that you can use to store arbitrary data on the object. Metadata can be
            nested — you can store objects and arrays within your metadata. (You can [read more about metadata.](https://docs.buttondown.com/metadata))
          example:
            source: my-app
            tier: pro
          title: Metadata
        name:
          anyOf:
          - type: string
          - type: 'null'
          description: The display name of your newsletter, shown to subscribers and on your archive page.
          example: Sheinhardt Wig Company
          title: Name
        reply_to_address:
          anyOf:
          - pattern: ^[a-zA-Z0-9.'_%+\-!]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$
            type: string
            format: email
          - type: 'null'
          description: An alternative email address that receives replies to your newsletter emails, instead of the sending
            address.
          example: newsletter@sheinhardt.com
          title: Reply To Address
        socials:
          anyOf:
          - items:
              $ref: '#/components/schemas/SocialAccountSchema'
            type: array
          - type: 'null'
          description: A list of social media accounts linked to your newsletter, displayed on your archive page. Each entry
            has a `type`, `url`, and optional `label`.
          example:
          - label: null
            type: twitter
            url: https://x.com/sheinhardt
          title: Socials
        subscription_confirmation_redirect_url:
          anyOf:
          - type: string
          - type: 'null'
          description: A URL to redirect subscribers to after they confirm their subscription via double opt-in.
          example: https://example.com/confirmed
          title: Subscription Confirmation Redirect Url
        subscription_redirect_url:
          anyOf:
          - type: string
          - type: 'null'
          description: A URL to redirect subscribers to immediately after they submit the subscription form (before confirmation).
          example: https://example.com/thanks
          title: Subscription Redirect Url
        template:
          anyOf:
          - $ref: '#/components/schemas/NewsletterEmailTemplate'
          - type: 'null'
          description: The default email template for your newsletter. See [email templates](https://docs.buttondown.com/customizing-email-design#buttondowns-default-templates)
            for available options.
          example: modern
        test_mode:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether test mode is enabled. When enabled, emails are not actually sent to subscribers, useful for
            testing automations and workflows.
          title: Test Mode
        theme_configuration:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          description: Custom theme configuration (variables) for your newsletter. These can be referenced in your CSS and
            templates to maintain consistent styling.
          example:
            primary-color: '#0069FF'
          title: Theme Configuration
        timezone:
          anyOf:
          - type: string
          - type: 'null'
          description: The timezone used for scheduling and displaying dates in your newsletter (e.g., 'America/New_York',
            'Europe/London').
          example: America/New_York
          title: Timezone
        tint_color:
          anyOf:
          - maxLength: 7
            pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
            type: string
          - type: 'null'
          description: The accent color for your newsletter's emails, applied to links and buttons. Your archive's accent
            color is set separately, by its theme. Must be a valid hex color code.
          example: '#0069FF'
          title: Tint Color
        username:
          anyOf:
          - type: string
          - type: 'null'
          description: The unique URL-safe identifier for your newsletter, used in your archive URL (e.g., 'buttondown.com/username').
          example: sheinhardt
          title: Username
        web_css:
          anyOf:
          - type: string
          - type: 'null'
          description: Custom CSS styling applied to your newsletter's web presence (archive pages, subscription forms, etc.).
          example: '.container { max-width: 800px; }'
          title: Web Css
      title: NewsletterUpdateInput
      type: object
    RequirementRecord:
      properties:
        record_type:
          description: The DNS record type to create (e.g. `CNAME`, `TXT`, `MX`).
          title: Record Type
          type: string
        name:
          description: The host/name the DNS record should be created at.
          title: Name
          type: string
        is_valid:
          description: Whether the record is currently present and correct in DNS.
          title: Is Valid
          type: boolean
        required_value:
          description: The value the DNS record must point to.
          title: Required Value
          type: string
        current_values:
          description: The values currently observed at this record, if any.
          items:
            type: string
          title: Current Values
          type: array
        context:
          description: '`manual` if the customer must create this record themselves; `managed` if Buttondown provisions it.'
          enum:
          - managed
          - manual
          title: Context
          type: string
      required:
      - record_type
      - name
      - is_valid
      - required_value
      - current_values
      - context
      title: RequirementRecord
      type: object
    SendingDomainRecord:
      properties:
        id:
          description: The ESP-side identifier for the domain, when available.
          title: Id
          type: string
        domain:
          description: The custom sending domain being verified.
          title: Domain
          type: string
        status:
          $ref: '#/components/schemas/SendingDomainStatus'
        warnings:
          description: Human-readable warnings about the domain's DNS setup (e.g. a record left proxied through Cloudflare).
          items: {}
          title: Warnings
          type: array
        requirements:
          description: The DNS records required for the domain, each with its current verification state.
          items:
            $ref: '#/components/schemas/RequirementRecord'
          title: Requirements
          type: array
        existing_mail_provider:
          anyOf:
          - type: string
          - type: 'null'
          description: The third-party mail provider already handling this domain's inbound mail, when detected; its MX record
            is then omitted from `requirements`.
          title: Existing Mail Provider
        detected_dns_provider:
          anyOf:
          - $ref: '#/components/schemas/ApexAliasProvider'
          - type: 'null'
        checked_date:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: When the record was last computed. Null until the first verification completes.
          title: Checked Date
        is_checking:
          default: false
          description: Whether a background re-verification is currently in flight. Clients poll while this is true.
          title: Is Checking
          type: boolean
      required:
      - id
      - domain
      - status
      - warnings
      - requirements
      title: SendingDomainRecord
      type: object
    SendingDomainStatus:
      description: The DNS verification status of a newsletter's custom sending domain.
      enum:
      - none
      - invalid
      - awaiting_ssl
      - failing
      - deliberately_cold
      - valid
      title: SendingDomainStatus
      type: string
    SocialAccountSchema:
      additionalProperties: false
      properties:
        type:
          $ref: '#/components/schemas/SocialAccountType'
          description: The type of social media account.
        url:
          description: The URL of the social media profile.
          title: Url
          type: string
        label:
          anyOf:
          - maxLength: 32
            type: string
          - type: 'null'
          description: An optional display label for the social media account.
          title: Label
      required:
      - type
      - url
      title: SocialAccountSchema
      type: object
    SocialAccountType:
      enum:
      - generic
      - ao3
      - arena
      - bandcamp
      - behance
      - bluesky
      - bookbub
      - bookshop
      - discord
      - etsy
      - facebook
      - github
      - goodreads
      - gumroad
      - instagram
      - itchio
      - kofi
      - letterboxd
      - linkedin
      - linktree
      - mastodon
      - medium
      - patreon
      - pinterest
      - reddit
      - soundcloud
      - spotify
      - steam
      - substack
      - telegram
      - threads
      - tiktok
      - tumblr
      - twitch
      - twitter
      - vimeo
      - youtube
      title: SocialAccountType
      type: string
      description: An enumeration.
    ValidationErrorDetail:
      properties:
        type:
          description: The type of validation error.
          title: Type
          type: string
        loc:
          description: The location of the error in the request.
          items:
            anyOf:
            - type: string
            - type: integer
          title: Loc
          type: array
        msg:
          description: A human-readable error message.
          title: Msg
          type: string
      required:
      - type
      - loc
      - msg
      title: ValidationErrorDetail
      type: object
    ValidationErrorMessage:
      properties:
        detail:
          description: A list of validation errors.
          items:
            $ref: '#/components/schemas/ValidationErrorDetail'
          title: Detail
          type: array
      required:
      - detail
      title: ValidationErrorMessage
      type: object
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key passed as 'Token <your-api-key>' in the Authorization header.
