openapi: 3.1.0
info:
  title: Buttondown Emails Tags API
  version: '1.0'
  description: Minimal OpenAPI 3.1 description of the Buttondown newsletter platform API. Covers core RESTful resources for subscribers, emails, tags, newsletters, and webhooks. Derived from the public Buttondown documentation.
  x-generated-from: https://docs.buttondown.com/api
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.buttondown.email/v1
  description: Production
security:
- apiKeyAuth: []
tags:
- name: Tags
paths:
  /tags:
    get:
      tags:
      - Tags
      summary: List all tags
      operationId: listTags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
    post:
      tags:
      - Tags
      summary: Create a tag
      operationId: createTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /tags/{id}:
    parameters:
    - $ref: '#/components/parameters/IdParam'
    get:
      tags:
      - Tags
      summary: Retrieve a tag
      operationId: getTag
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
components:
  schemas:
    PaginatedList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/Resource'
      additionalProperties: true
    Resource:
      type: object
      additionalProperties: true
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API token in the form `Token <api-key>`.
